DATABASE_URL="postgresql://username:password@localhost:5432/databasename?schema=public"

EMAIL_USER = "email.example@gmail.com"
EMAIL_PASS = "**********"

GOOGLE_CLIENT_ID = "**********"
GOOGLE_CLIENT_SECRET = "**********"
GOOGLE_CALLBACK_URL = "http://localhost:4000/auth/google/callback"

JWT_SECRET="**********"
TIME_LIFE_ACCESS_TOKEN="1h"
TIME_LIFE_REFRESH_TOKEN="7d"

FACEBOOK_APP_ID="**********"
FACEBOOK_APP_SECRET="**********"
FACEBOOK_CALLBACK_URL="http://localhost:4000/auth/facebook/callback"

ELASTICSEARCH_URL='http://localhost:9200'
